[General]
bypass-system = true
skip-proxy = 192.168.0.0/16, 10.0.0.0/8, 172.16.0.0/12, localhost, *.local, captive.apple.com
dns-server = system, 8.8.8.8
ipv6 = false

[Rule]
# Domain chính của CapCut
DOMAIN-SUFFIX,capcutapi.com,PROXY
DOMAIN-SUFFIX,capcut.com,PROXY
DOMAIN-SUFFIX,capcutstatic.com,PROXY
DOMAIN-SUFFIX,faceueditor.com,PROXY
DOMAIN-SUFFIX,ibyteimg.com,PROXY

# Server Premium
DOMAIN,commerce16-normal-mya.capcutapi.com,PROXY
DOMAIN,editor16-normal-mya.capcutapi.com,PROXY
DOMAIN,feed16-normal-mya.capcutapi.com,PROXY

# Cuối cùng
FINAL,PROXY

[Rewrite]
# Mở khóa Premium
^https?:\/\/commerce-api\.capcutapi\.com\/commerce\/v\d+\/user\/info url script-response-body https://raw.githubusercontent.com/quocchienn/capcutxyz/refs/heads/main/user.js
^https?:\/\/editor-api\.capcutapi\.com\/user\/profile url script-response-body https://raw.githubusercontent.com/quocchienn/capcutxyz/refs/heads/main/user.js
^https?:\/\/.*\.capcutapi\.com\/template\/list url script-response-body https://raw.githubusercontent.com/quocchienn/capcutxyz/refs/heads/main/template.js

# Chuyển hướng đến server Premium
^https?:\/\/commerce-normal\.capcutapi\.com\/ url 302 https://commerce16-normal-mya.capcutapi.com/
^https?:\/\/editor-normal\.capcutapi\.com\/ url 302 https://editor16-normal-mya.capcutapi.com/

[MITM]
hostname = *.capcutapi.com, *.capcut.com
enable = true
